<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-listas [tabNum]="1"></app-listas>

 <!--  <ion-list>
    <ion-item *ngFor="let lista of _deseos.listas" detail>
      <ion-label (click)="irAgregarItems(lista.id)">{{lista.titulo}}</ion-label>
      <ion-note color="tertiary" slot="end">{{lista.items.length}} items</ion-note>
    </ion-item>
  </ion-list> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarLista()" color="tertiary"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
